.header-navigation-divider {
  border-top: 1px solid rgba(0,0,0,0.2);
  //height: 2px;
  //background: $article_line;
}
.header-navigation-divider_color-darkest {
  border-color: rgba(0,0,0, 0.9);
}

.header-navigation-divider_color_lightest {
  border-color: rgba(255,255,255, 0.2);
}
