.menu-list {
  padding: 0;
  margin: 0;
  width: 630px;
  height: 50px;

}

.menu-list_size-m {
  font-family: 'Proxima Nova Bold';
  font-size: 10px;
  color: $accent_text;
  text-transform: uppercase;
  height: 30px;
}

.menu-list_footer {
  width: 420px;
}
