.article-item__header-wrap {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7404149159663865) 0%, rgba(255,255,255,0) 100%);
}

.article-item__header-wrap_inner {
  padding: 0 20px 30px 20px;
}
