.event__date {
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  color: $accent_text;
  background: $lightgrey_bg;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin-bottom: 12px;
}
