.article-item {
  background: $white_bg;
  width: 720px;
  min-height: 460px;
  max-height: 630px;
}

.article-item_size_s {
  width: 340px;
}

.article-item_size_m {
  width: 530px;
}

.article-item_margin_40 {
  margin-bottom: 40px;
}

.article-item_margin_188 {
  margin-bottom: 188px;
}
