.article-item__header {
  color: $invert_text;
  font-size: 36px;
  margin: 15px 0 0 0;
  font-family: 'Proxima Nova Bold';

}

.article-item__header_size_s {
  color: $main_text;
  font-size: 18px;
  margin: 0 0 12px 0;
}
